<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <div id="movie-container"></div>

    <script src="{{ url_for('static', filename='js/movie.js') }}"></script>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #movie-container {
            width: 100%;
            height: 100%;
        }
    </style>
</body>

</html>